:root {
	--radius-full: 9999px;

	--radius-2xl: 1.25rem; /* 20px */
	--radius-xl: 1rem; /* 16px */
	--radius-lg: 0.75rem; /* 12px */
	--radius-md: 0.625rem; /* 10px */
	--radius-sm: 0.5rem; /* 8px */
	--radius-xs: 0.25rem; /* 4px */

	--spacing-xl: 1.5rem; /* 24px */
	--spacing-lg: 1rem; /* 16px */
	--spacing-md: 0.75rem; /* 12px */
	--spacing-sm: 0.625rem; /* 10px */
	--spacing-xs: 0.5rem; /* 8px */

	/* Font */

	--lh-base: 150%;
	--lh-heading: 110%;

	--fz-heading-1: 2rem; /* 32px */

	--fz-xs: 0.625rem; /* 10px */
	--fz-sm: 0.75rem; /* 12px */
	--fz-md: 0.875rem; /* 14px */
	--fz-lg: 1rem; /* 16px */
	--fz-xl: 1.125rem; /* 18px */
	--fz-2xl: 1.5rem; /* 24px */

	@media (width <= 512px) {
		--fz-heading-1: 1.5rem; /* 24px */
		--fz-xs: 0.625rem; /* 10px */
		--fz-md: 0.75rem; /* 12px */
		--fz-lg: 1rem; /* 16px */
		--fz-xl: 0.875rem; /* 14px */
	}

	/* Theme */

	--primary: #384cff;
	--on-primary: #ffffff;

	--surface-lowest: #fbfbfc;
	--on-surface-lowest-variant: #808080;

	--surface: #ffffff;
	--on-surface: #46474e;
	--on-surface-variant: #808080;
	--surface-outline: #a5a5a5;
	--surface-outline-variant: #1e1f2e;

	--surface-highest: #fafafa;
	--surface-highest-outline: #28303f;
	--on-surface-highest: #1e1f2e;
	--on-surface-highest-variant: #8d8e99;
	--surface-highest-active: #e1e4ff;
	--on-surface-highest-active: #384cff;
	--surface-highest-hover: #ffffff;
	--on-surface-highest-hover: #46474e;

	--surface-social-vk: #2787f5;
	--surface-social-ya: #1c1c1e;
	--surface-social-tg: #25a3e0;

	--scrollbar: #ffffff;
	--on-scrollbar: #9bb7ff;
}

:root.dark {
	--primary: #af38ff;
	--on-primary: #ffffff;

	--surface-lowest: #1c1b1f;
	--on-surface-lowest-variant: #a2a2a2;

	--surface: #252c32;
	--on-surface: #eaeaea;
	--on-surface-variant: #a2a2a2;
	--surface-outline: #a2a2a2;
	--surface-outline-variant: #dadada;

	--surface-highest: #1c1b1f;
	--surface-highest-outline: #a2a2a2;
	--on-surface-highest: #dadada;
	--on-surface-highest-variant: #a2a2a2;
	--surface-highest-active: #e1e4ff;
	--on-surface-highest-active: #384cff;
	--surface-highest-hover: #1e1f2e;
	--on-surface-highest-hover: #dadada;

	--surface-social-vk: #2787f5;
	--surface-social-ya: #c50303;
	--surface-social-tg: #25a3e0;

	--scrollbar: #252c32;
	--on-scrollbar: #673886;
}
