.login-page {
	.remember-field {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.forget-password {
			text-decoration: none;
			font-size: var(--fz-md);
			color: var(--on-surface);
		}
	}
}
