@layer shared {
	:root {
		--logo-fill: url(#logo-light-gradient);
		--logo-color: #1e1f2e;
	}

	:root.dark {
		--logo-fill: url(#logo-dark-gradient);
		--logo-color: #fbfbfb;
	}

	.logo {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		text-decoration: none;
		width: fit-content;
		flex: 0 0 auto;

		gap: var(--spacing-sm);

		@media (width <= 512px) {
			gap: var(--spacing-xs);
		}

		.logo__icon {
			width: 2rem;
			height: 2rem;
			flex: 0 0 2rem;

			path {
				fill: var(--logo-fill);
			}
		}

		.logo__title {
			flex: 0 1 auto;
			width: 3rem;
			font-family: "Manrope", serif;
			font-weight: 800;
			line-height: 100%;
			color: var(--logo-color);
		}
	}
}
