@layer shared {
	.button {
		cursor: pointer;

		height: 3rem;
		display: flex;
		align-items: center;
		justify-content: center;

		background: var(--primary);
		color: var(--on-primary);
		border: none;
		padding: 0 1.125rem;
		-webkit-border-radius: var(--radius-lg);
		-moz-border-radius: var(--radius-lg);
		border-radius: var(--radius-lg);
		font-size: var(--fz-xl);
		font-weight: 600;
		font-family: "Montserrat", serif;
	}
}
